<header>
<nav>
	<ul>
		<li>{{#link-to 'posts'}}Posts{{/link-to}}</li>
		<li>{{#link-to 'recent-comments'}}Recent Comments{{/link-to}}</li>
		<li>{{#link-to 'about'}}About{{/link-to}}</li>
		<li>{{#link-to 'contact'}}Contact{{/link-to}}</li>
		<li><a href="#nowhere" title="Praesent dapibus, neque id cursus faucibus">Praesent</a></li>
		<li><a href="#nowhere" title="Pellentesque fermentum dolor">Pellentesque</a></li>
	</ul>
</nav>
<header>
<main>
{{outlet}}
</main>
<footer><small>&copy; all rights reserved</footer>