<div class="">
	<h1>Hi this is a Page title</h1>
	<ul>
		{{#each}}
			<li>
				{{#link-to 'post' this.id}}
					{{title}}
				{{/link-to}}
			</li>
		{{/each}}
	</ul>

	<a href="#" {{action 'sortByTitle'}}>Sort by Title</a>

	<p>{{#link-to 'new-post' className="button"}}New Post{{/link-to}}
</div>