<div class="">
	<h1>Hi this is a Page title</h1>
	<ul>
		<li><a href="">This is a blog title</a></li>
		<li><a href="">This is a blog title</a></li>
		<li><a href="">This is a blog title</a></li>
		<li><a href="">This is a blog title</a></li>
	</ul>
</div>